.navbar img{
    width:60px;
    height:50px;
    

}
nav{
    display:flex;
    justify-content: space-between;
    font-size: 20px;
    padding:  4px 350px;
    align-items:center;
    
    
}
nav a{
    position: relative;
    text-decoration: none;
    font-size: 20px;
    padding: 6px 10px 12px 5px;
}
.navbar{
    background-color:aquamarine;
}
nav a :visited{
    color: blue;
  }
a::after{
    content:"";
    position:absolute;
    background-color: black;
    height: 3px;
    width: 0px;
    left:0px;
    bottom: 1px;
    transition: 0.5s;
}
a:hover::after{
    width: 100%;
}

@font-face{
    font-family: myFont;
    src: url(fstyle.otf);
}
h1{
    font-family: myFont;
    text-align: center;
    font-size: 30px;
}
@font-face{
    font-family: myFont2;
    src: url(f2.ttf);
}
h1.fstyle1{
    font-family: myFont2;
    text-align: center;
    font-size: 30px;
}

h2{
    font-family: myFont2;
    text-align: center;
    font-size: 30px;
}

p.tema1{
    font-size: small;
    font-family: sans-serif;
    text-align: center;
}

p.ptext{
    font-size: 40px;
    text-align: center;
    color: blue;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.vetImg img{
    width: 1400px;
    height: 550px;
    margin-left: 20px;
    margin-right: 40px;
    align-items: center;
}
.testimonials{
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0 cover 40%;
  }
  @keyframes appear {
    from {
      opacity: 0;
      scale:0.5;
    }
    to {
       opacity: 1;
       scale:1;
    }
  }

  .card{
    display: flex;
    justify-content: center;
    flex-wrap:wrap;
    gap: 50px;
    margin-top:45px;
    align-items: center;
    padding-left: 250px;
  }

  .Doctor-card{
    width:300px;
    height: 500px;
    background-color:rgba(197, 229, 224, 0.774);
    border-radius: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    overflow: hidden;
    transition: transform 0.6s ease;

  }
  .Doctor-card:hover{
    transform:translateY(-20px);
  }
  .Doctor-card img{
    width:100%;
    height:40%;
    object-fit:cover;

  }
.card-details{
    font-size: 24px;
    margin-bottom: 10px;

}
.card-details p{
    font-size: 14px;
    color: gray;
    margin-bottom: 20px;
}
.card-btn{
    display: inline-block;
    background-color: blue;
    color:white;
    text-decoration: none;
    border-radius: 5px;
    padding: 8px 16px;
}
h3.doctxt{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
}
p
{
    text-align: center;
}
p.docdet{
    text-align: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: small;
    color: rgb(12, 26, 23);
}

.staff-card{
    width:250px;
    height: 300px;
    background-color:rgba(197, 229, 224, 0.774);
    border-radius: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    overflow: hidden;
    transition: transform 0.6s ease;

  }
  .staff-card:hover{
    transform:translateY(-20px);
  }
  .staff-card img{
    width:100%;
    height:40%;
    object-fit:cover;

  }
.scard{
    display: flex;
    justify-content: center;
    flex-wrap:wrap;
    gap: 50px;
    margin-top:45px;
    align-items: center;
    padding-left: 50px;
}









































































footer {
    background-color: #444;
    color: #fff;
    text-align: center;
    padding: 2rem 0;
}

footer .footer-logo {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}
footer .footer-logo img{
    width: 120px;
    height: 75px;
}
footer nav {
    margin-bottom: 1rem;
}

footer nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 0.5rem;
    row-gap: 20px;
}
footer nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 0.5rem;
}

footer .social-media a {
    color: #fff;
    margin: 0 1rem;
    text-decoration: none;
}

footer p {
    margin-top: 1rem;
    font-size: 0.8rem;
}
#link-a{
    text-decoration: none;
}
#link-a:visited{
    color:#fff;
}